---
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: ai-news-analyzer
data:
  MONGODB_HOST: "mongodb"
  MONGODB_PORT: "27017"
  MONGODB_NAME: "ai_news_analyzer"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ai-news-analyzer
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: mortadhajemai/ai-news-backend:latest
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: backend-config
        resources:
          limits:
            memory: "2Gi"
            cpu: "1000m"
          requests:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /api/articles/
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/articles/
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: ai-news-analyzer
spec:
  selector:
    app: backend
  ports:
  - port: 8000
    targetPort: 8000
  type: LoadBalancer
